/* .App { */

/* .dashboard { */
/* } */

img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border-color: #d34735;
}

.form {
  background-color: #3ad886;
}

button {
  background: #e34929;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  width: 130px;
  height: 20px;
  font-weight: bold;
}
